.social-icons {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    
  }
  
  .social-icons a {
    color: #45a29e;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    
    color: #66fcf1;
  }


  @media only screen and (max-width:1024px) {

    .social-icons {
      display: none;
    }
    
  }
  